header
  a(href="/")
    img(src="../../../assets/img/svg/logo.svg", alt="Logo Bbrands Agency")
  a(href="/")
    img(src="../../../assets/img/svg/nav.svg", alt="Logo Bbrands Agency")
  button 
    span
  nav
    ul
      li
        a(href="works.pug") Works
      li
        a(href="about.pug") About
      li
        a(href="contact.pug") Contact
      li
        a(href="team.pug") Team
    ul.flex
      li
        a(href="#")
            img(src="../../../assets/img/svg/behance.svg", alt="Behance")
      li
        a(href="#")
            img(src="../../../assets/img/svg/dribble.svg", alt="Dribble")
      li
        a(href="#")
            img(src="../../../assets/img/svg/twitter.svg", alt="Twitter")