header.bg-yellow-500.flex.justify-between
  a(href="/")
    img.p-5(src="../../../assets/img/svg/logo.svg", alt="Logo Bbrands Agency")
  button(id="iconMenu",
          class="z-30 w-6 h-5 flex flex-col justify-between *:block *:h-[4px] *:w-full *:bg-black *:transition-all *:duration-300 *:ease-in-out lg:hidden mt-5 mr-5",
          aria-label="Menu")
    span
    span
    span

  nav(id="menu"
          class="flex bg-indigo text-white fixed inset-0 text-2xl z-20 invisible lg:relative lg:bg-transparent lg:text-black lg:visible lg:text-base lg:font-bold lg:uppercase")
    ul.hidden
      li
        a(href="works.pug") Works
      li
        a(href="about.pug") About
      li
        a(href="contact.pug") Contact
      li
        a(href="team.pug") Team
    ul.hidden.flex
      li
        a(href="#")
            img(src="../../../assets/img/svg/behance.svg", alt="Behance")
      li
        a(href="#")
            img(src="../../../assets/img/svg/dribble.svg", alt="Dribble")
      li
        a(href="#")
            img(src="../../../assets/img/svg/twitter.svg", alt="Twitter")